*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align: center;
}
body{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:100vh;
    border:2px solid blue;
    padding:5px;
    color:blueviolet;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;

}
header{
    flex-basis: 100%;
    background-color: aqua;
    height:10%;
    text-align: center;
    color:black;
}
.content-left{
    flex-direction:column;
    flex-basis:30%;
    height: 80%;

}
 aside{
    background-color: rgb(219, 66, 24);
    height: 50%;

}
nav{
    background-color: chocolate;
    height: 50%;
}

 main{
    flex-basis: 70%;
    background-color: crimson;
    height:80%; 
 }
footer{
    flex-basis: 100%;
    background-color: rgb(170, 223, 10);
    height:10%;
}